modern-modal(data-modal-id="project-modal" data-modal-animate="clip-up")
  .modal-inner
    .navbar
      .close-btn(data-modal-close)
      .pic
    .container
      .md-header
        .topic
          .title-wrap 
            h3.en-txt Related
            h3.tw-txt 友站連結
          p.txt 敘述文字Demo - 會員來自市場中各不同領域者，包含民間再生能源發電業、太陽光電系統開發商、能源技術服務業、零組件製造業、投資及管理顧問業。
      .md-content
        .category 
        .video-block
          .item.one(data-aost data-aost-fade-up)
          .item.two(data-aost data-aost-fade-up)
          .item.three(data-aost data-aost-fade-up)
          .item.three(data-aost data-aost-fade-up)
          .item.three(data-aost data-aost-fade-up)
          .item.three(data-aost data-aost-fade-up)
          .item.three(data-aost data-aost-fade-up)
          .item.three(data-aost data-aost-fade-up)
          .item.three(data-aost data-aost-fade-up)
