modern-modal(data-modal-id="project-modal" data-modal-animate="clip-up")
  .modal-inner
    .navbar
      .close-btn(data-modal-close)
      .pic
    .container
      //- .md-header
      //-   .topic
      //-     .title-wrap 
      //-       h3.en-txt 
      //-       h3.tw-txt 
      //-     p.txt
      .md-content
        .category 
        .video-block
          .item.one(data-aost data-aost-fade-up)
          .item.two(data-aost data-aost-fade-up)
          .item.three(data-aost data-aost-fade-up)
